* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*transition: width 1s;*/
}

.background {
    background: rgba(0, 0, 0, 0.9);
}

.container {
    max-width: 1051px;
    margin: 0 auto;
}

.header-logo {
    min-width: 75px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 13px;
}

.header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
}

.header-burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    top: 9px;
}

.header-burger:before,
.header-burger:after {
    content: '';
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    height: 2px;
}

.header-burger:before {
    top: 0;
}

.header-burger:after {
    bottom: 0;
}

.nav-top {
    display: none;
}

.nav-top-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.gym-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image {
    position: relative;
    background-image: url("../img/gym.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 957px;
    min-height: 513px;
}

.gym-title {
    position: absolute;
    width: 257px;
    padding: 41px 0;
    left: 12px;
    top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
}

.gym-button {
    position: absolute;
    width: 131px;
    padding: 7px 0;
    left: 75px;
    top: 165px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
}

.gym-bloc {
    width: 265px;
    height: 64px;
    background: #ED1260;
}

.gym-text {
    padding: 38px 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.energy-gym {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 60px auto;
}

.energy-gym-link {
    width: 150px;
    margin: 1% 2%;
    text-align: center;
    text-decoration: none;
}

.energy-gym-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.map {
    width: 346px;
    margin: 0 auto 63px;
    border: 5px solid #ED1260;
    padding: 2%;
}

.map-img img {
    width: 100%;
}

.map-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    padding: 1% 0;
}

.contacts {
    border: 5px solid #F38A03;
    padding: 5% 0;
}

.contacts-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;
}

.contacts-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.contacts-box-title {
    display: none;
}

.contacts-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 15px;
}


@media screen and (min-width: 768px) {
    .header {
        padding: 5px 13px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .header-burger {
        display: none;
    }

    .nav-top {
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

    .energy-gym {
        padding: 0 100px;
    }

    .energy-gym-link {
        flex: 1 0 29.3%;
    }

    .gym-image {
        flex-direction: row;
        align-items: flex-start;
    }

    .gym-bloc {
        width: 107px;
        height: 347px;
    }

    .gym-text {
        padding: 37px 110px 0 10px;
        font-size: 25px;
        font-weight: normal;
        line-height: 30px;
    }

    .map {
        width: 579px;
    }
    .map-text {
        font-size: 22px;
    }
    .contacts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: none;
    }

    .contacts-box {
        flex-direction: column;
    }

    .contacts-title {
        display: flex;
        flex: 0 1 100%;
        font-size: 45px;
        text-align: left;
    }

    .contacts-box-title {
        display: block;
        font-size: 25px;
        color: #ffffff;
        margin: 35px 0 0 0;
    }
    .contacts-text {
        font-size: 25px;
        line-height: 30px;
    }
}